#general{
    position: relative;
    background: aliceblue;
    width: 102%;
    right: 1%;
}

#encabezado{
    position:relative;
    width: 100%;
    height: 140px;;
}

#nombreempresa{
    position: absolute;
    background:  rgb(50, 48, 48);
    color: white;
    width: 100%;
    height: 50px;
    top: 5%;
    left: 0%;

}

#nombreempresa h2{
    position:absolute;
    top: -15%;
    left: 48.5%;
}

#nombreempresa_txt1{
    position: absolute;
    color: white;
    top: 2%;
    left: 52%;
}

#nombreempresa_txt2{
    position: absolute;
    color: white;
    top: 11%;
    left: 52%;
}

#circuloprincipal{
    position: absolute;
    background: rgb(181, 7, 7);
    color: rgb(182, 149, 109);
    width: 45px;
    height: 45px; 
    top: 3%; 
    left: 48%;
    border-radius: 50%;
    flex-wrap:wrap;
}

#menu{
    position:absolute;
    background: aliceblue;
    width: 98%;
    height: 70px;
    top: 45%;
    left: 1%;
    flex-wrap:wrap;
}

#menu_productos{
    position:absolute;
    background: rgb(131, 0, 0);
    color:white;
    width: 20%;
    height: 80%;
    top: 10%;
    left: 4%;
    border: none;
    border-radius: 12px; /* Esquinas redondeadas suaves */
    font-size: 16px;
    cursor: pointer;
    box-shadow: 0 4px 10px rgba(0,0,0,0.12);
    transition: all 0.2s ease;
    flex-wrap:wrap;
}

#menu_productos p{
    position: absolute;
    top: 5%;
    left: 34%;
}

#menu_servicios{
   position:absolute;
   background: rgb(131, 0, 0);
   color: white;
   width: 20%;
   height: 80%;
   top: 10%;
   left: 28%;
   border: none;
    border-radius: 12px; /* Esquinas redondeadas suaves */
    font-size: 16px;
    cursor: pointer;
    box-shadow: 0 4px 10px rgba(0,0,0,0.12);
    transition: all 0.2s ease;
    flex-wrap:wrap;
}

#menu_servicios p{
    position: absolute;
    top: 5%;
    left: 34%;
}

#menu_cotizar{
    position:absolute;
    background: rgb(131, 0, 0);
    color: white;
    width: 20%;
    height: 80%;
    top: 10%;
    left: 52%;
    border: none;
    border-radius: 12px; /* Esquinas redondeadas suaves */
    font-size: 16px;
    cursor: pointer;
    box-shadow: 0 4px 10px rgba(0,0,0,0.12);
    transition: all 0.2s ease;
    flex-wrap:wrap;
}

#menu_cotizar p{
    position: absolute;
    top: 5%;
    left: 34%;
}

#menu_nosotros{
    position:absolute;
    background: rgb(131, 0, 0); 
    color: white;
    width: 20%;
    height: 80%;
    top: 10%;
    left: 76%;
    border: none;
    border-radius: 12px; /* Esquinas redondeadas suaves */
    font-size: 16px;
    cursor: pointer;
    box-shadow: 0 4px 10px rgba(0,0,0,0.12);
    transition: all 0.2s ease;
    flex-wrap:wrap;
}

#menu_nosotros p{
    position: absolute;
    top: 5%;
    left: 34%;
}

#primercuerpo{
    position: absolute;
    background: rgb(72, 61, 13);
    color: white;
    width: 99%;
    height: 500px;
    top:125%;
    flex-wrap:wrap;
}

#segundocuerpo{
    position: absolute;
    background: rgb(72, 61, 139);
    color: white;
    width: 99%;
    height: 500px;
    top: 505%;
    flex-wrap:wrap;
}

#valor1{
    position: absolute;
    background: rgb(158, 60, 60);
    color: white;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    left: 30%;
    top: 75%;
}

#valor1txt{
    position: absolute;
    color: white;
    left: 40%;
    top: 25%;
}

#valor2{
    position: absolute;
    background: rgb(158, 60, 60);
    color: white;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    left: 48%;
    top: 75%;
}

#valor2txt{
    position: absolute;
    color: white;
    left: 40%;
    top: 25%;
}

#valor3{
    position: absolute;
    background: rgb(158, 60, 60);
    color: white;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    left: 65%;
    top: 75%;
}

#valor3txt{
    position: absolute;
    color: white;
    left: 40%;
    top: 25%;
}

#footer{
    position: absolute;
    background: rgb(0, 128, 128);
    color: bisque;
    width: 99%;
    height: 100px;
    top: 885%;
}

#footercuerpo{
    position: absolute;
    background: rgb(158, 60, 60);
    color: white;
    width: 85%;
    height: 75%;
    left: 7%;
    top: 12%;
}

#footertexto{
    position: absolute;
    color: white;
    left: 40%;
    top: 12%;
}
#pc_fotos{
    position: absolute;
    background: purple;
    width: 75%;
    height: 98%;
    top: 1%;
    left: 1%;
}

#pc_redes{
    position: absolute;
    background: bisque;
    width: 22%;
    height: 98%;
    top: 1%;
    left: 77%;
}

#pcfotos_imprenta{
    position: absolute;
    background: rgb(95, 153, 176);
    color: rgb(189, 159, 121);
    width: 60%;
    height: 98%;
    top: 1%;
    left: 1%;
}

#pcfotos_ubicacion{
    position: absolute;
    background: rgb(97, 125, 39);
    color: rgb(193, 145, 86);
    width: 36%;
    height: 98%;
    top: 1%;
    left: 63%;
}

#pcredes_whatssap{
    position: absolute;
    background: rgb(34, 133, 109);
    color: rgb(182, 149, 109);
    width: 65px;
    height: 65px;
    top: 38%;
    left: 85%;
    border-radius: 50%;
}

