#general{
    position: relative;
    background: aliceblue;
}

#encabezado{
    position:relative;
    background: rgb(24,24,24);
    width: 99%;
    height: 140px;;
}

#contacto{
    position: absolute;
    background:  rgb(24,24,24);
    color: white;
    width: 98%;
    height: 50px;
    top: 5%;
    left: 1%;
}

#contacto h2{
    position:absolute;
    top: -20%;
    left: 45%;
}

#menu{
    position:absolute;
    background: aliceblue;
    width: 98%;
    height: 70px;
    top: 45%;
    left: 1%;
}

#menu_productos{
    position:absolute;
    background: rgb(34, 133, 109);
    color:bisque;
    width: 20%;
    height: 80%;
    top: 10%;
    left: 4%;
}

#menu_productos p{
    position: absolute;
    top: 5%;
    left: 34%;
}

#menu_servicios{
   position:absolute;
   background: rgb(34, 133, 109);
   color:bisque;
   width: 20%;
   height: 80%;
   top: 10%;
   left: 28%;
}

#menu_servicios p{
    position: absolute;
    top: 5%;
    left: 34%;
}

#menu_cotizar{
    position:absolute;
    background: rgb(34, 133, 109);
    color: bisque;
    width: 20%;
    height: 80%;
    top: 10%;
    left: 52%;
}

#menu_cotizar p{
    position: absolute;
    top: 5%;
    left: 34%;
}

#menu_nosotros{
    position:absolute;
    background: rgb(34, 133, 109);
    color: bisque;
    width: 20%;
    height: 80%;
    top: 10%;
    left: 76%;
}

#menu_nosotros p{
    position: absolute;
    top: 5%;
    left: 34%;
}

#primercuerpo{
    position: absolute;
    background: rgb(72, 61, 13);
    color: bisque;
    width: 99%;
    height: 500px;
    top:125%;
}

#segundocuerpo{
    position: absolute;
    background: rgb(72, 61, 139);
    color: bisque;
    width: 99%;
    height: 500px;
    top: 505%
}

#footer{
    position: absolute;
    background: rgb(0, 128, 128);
    color: bisque;
    width: 99%;
    height: 100px;
    top: 885%;
}

#pc_fotos{
    position: absolute;
    background: purple;
    width: 75%;
    height: 98%;
    top: 1%;
    left: 1%;
}

#pc_redes{
    position: absolute;
    background: bisque;
    width: 22%;
    height: 98%;
    top: 1%;
    left: 77%;
}

#pcfotos_imprenta{
    position: absolute;
    background: rgb(95, 153, 176);
    color: rgb(189, 159, 121);
    width: 60%;
    height: 98%;
    top: 1%;
    left: 1%;
}

#pcfotos_ubicacion{
    position: absolute;
    background: rgb(97, 125, 39);
    color: rgb(193, 145, 86);
    width: 36%;
    height: 98%;
    top: 1%;
    left: 63%;
}

#pcredes_whatssap{
    position: absolute;
    background: rgb(34, 133, 109);
    color: rgb(182, 149, 109);
    width: 31%;
    height: 14%;
    top: 38%;
    left: 80%;
    border-radius: 50%;
}

