#general{
    position: relative;
    background: aliceblue;
}

#encabezado{
    position:relative;
    background: rgb(24,24,24);
    width: 99%;
    height: 140px;;
}

#contacto{
    position: absolute;
    background:  rgb(24,24,24);
    color: white;
    width: 98%;
    height: 50px;
    top: 5%;
    left: 1%;
}

#contacto h2{
    position:absolute;
    top: -20%;
    left: 45%;
}

#menu{
    position:absolute;
    background: aliceblue;
    width: 98%;
    height: 70px;
    top: 45%;
    left: 1%;
}

#menu_productos{
    position:absolute;
    background: rgb(34, 133, 109);
    color:bisque;
    width: 20%;
    height: 80%;
    top: 10%;
    left: 4%;
}

#menu_servicios{
   position:absolute;
   background: rgb(34, 133, 109);
   color:bisque;
   width: 20%;
   height: 80%;
   top: 10%;
   left: 28%;
}

#menu_cotizar{
    position:absolute;
    background: rgb(34, 133, 109);
    color: bisque;
    width: 20%;
    height: 80%;
    top: 10%;
    left: 52%;
}

#menu_nosotros{
    position:absolute;
    background: rgb(34, 133, 109);
    color: bisque;
    width: 20%;
    height: 80%;
    top: 10%;
    left: 76%;
}

#primercuerpo{
    position: absolute;
    background: rgb(72, 61, 13);
    color: bisque;
    width: 99%;
    height: 500px;
    top:110%;
}

#segundocuerpo{
    position: absolute;
    background: rgb(72, 61, 139);
    color: bisque;
    width: 99%;
    height: 500px;
    top: 470%
}

#footer{
    position: absolute;
    background: rgb(0, 128, 128);
    color: bisque;
    width: 99%;
    height: 100px;
    top: 870%;
}

