#general_producto{
    position: relative;
    background: aliceblue;
    width: 102%;
    right: 1%;
}

#encabezado_producto{
    position:relative;
    background:rgb(50, 48, 48);
    width: 100%;
    height: 140px;
    left: 0%;
}

#circuloprincipal_producto{
    position: absolute;
    background: rgb(181, 7, 7);
    color: rgb(182, 149, 109);
    width: 45px;
    height: 45px; 
    top: 1%; 
    left: 10%;
    border-radius: 50%;
}

#nombreempresa{
    position: absolute;
    background:  rgb(50, 48, 48);
    color: white;
    width: 4%;
    height: 50px;
    top: 3%;
    left: 48%;
    font-family: "Marko One", serif;
    font-weight: 400;
    font-style: normal;
}

#nombreempresa h2{
    position:absolute;
    top: -25%;
    left: 25%;
}


#nombre_producto{
    position: absolute;
    background:rgb(50, 48, 48);
    color: white;
    width: 10%;
    height: 50px;
    top: 3%;
    left: 52%;
    font-family: "Marko One", serif;
    font-weight: 400;
    font-style: normal;
}

#nombre_producto p{
    position:absolute;
    top: -8%;
    left: 2%;
}

#menu_inicio{
    position:absolute;
    background: rgb(131, 0, 0);
    color:white;
    width: 20%;
    height: 40%;
    top: 50%;
    left: 4%;
    border: none;
    border-radius: 12px; /* Esquinas redondeadas suaves */
    font-size: 16px;
    cursor: pointer;
    box-shadow: 0 4px 10px rgba(0,0,0,0.12);
    transition: all 0.2s ease;
}

#menu_inicio p{
    position: absolute;
    top: 5%;
    left: 42%;
    font-family: "Marko One", serif;
    font-weight: 400;
    font-style: normal;
}

#menu_servicios{
    position:absolute;
    background: rgb(131, 0, 0);
    color: white;
    width: 20%;
    height: 40%;
    top: 50%;
    left: 28%;
    border: none;
    border-radius: 12px; /* Esquinas redondeadas suaves */
    font-size: 16px;
    cursor: pointer;
    box-shadow: 0 4px 10px rgba(0,0,0,0.12);
    transition: all 0.2s ease;
    font-family: "Marko One", serif;
    font-weight: 400;
    font-style: normal;
}

#menu_servicios p{
    position: absolute;
    top: 5%;
    left: 34%;
    font-family: "Marko One", serif;
    font-weight: 400;
    font-style: normal;
}

#menu_cotizar{
    position:absolute;
    background: rgb(131, 0, 0);
    color: white;
    width: 20%;
    height: 40%;
    top: 50%;
    left: 52%;
    border: none;
    border-radius: 12px; /* Esquinas redondeadas suaves */
    font-size: 16px;
    cursor: pointer;
    box-shadow: 0 4px 10px rgba(0,0,0,0.12);
    transition: all 0.2s ease;
}

#menu_cotizar p{
    position: absolute;
    top: 5%;
    left: 34%;
    font-family: "Marko One", serif;
    font-weight: 400;
    font-style: normal;
}

#menu_nosotros{
    position:absolute;
    background: rgb(131, 0, 0); 
    color: white;
    width: 20%;
    height: 40%;
    top: 50%;
    left: 76%;
    border: none;
    border-radius: 12px; /* Esquinas redondeadas suaves */
    font-size: 16px;
    cursor: pointer;
    box-shadow: 0 4px 10px rgba(0,0,0,0.12);
    transition: all 0.2s ease;
}

#menu_nosotros p{
    position: absolute;
    top: 5%;
    left: 34%;
    font-family: "Marko One", serif;
    font-weight: 400;
    font-style: normal;
}

#encabezado_producto1{
    position: absolute;
    background: rgb(199, 199, 199);
    color: black;
    width: 100%;
    height: 85px;
    left: 0%;
    top: 20%;
    border-radius: 15px;
}

#texto_producto1 p{
    position: absolute;
    top: 90%;
    left: 40%;
    font-size: 24px;
    font-weight: bold;
    font-family: "Marko One", serif;
    font-weight: 400;
    font-style: normal;
}


#footer{
    position: absolute;
    background: rgb(0, 128, 128);
    color: bisque;
    width: 100%;
    height: 100px;
    top: 885%;
}

#footercuerpo{
    position: absolute;
    background: rgb(158, 60, 60);
    color: white;
    width: 85%;
    height: 75%;
    left: 7%;
    top: 12%;
}

#footertexto{
    position: absolute;
    color: white;
    left: 40%;
    top: 12%;
    font-family: "Marko One", serif;
    font-weight: 400;
    font-style: normal;
}
